/* ------------------------- Appearance Mode Formatting -------------------------------- */
/* Variables - OG Dark Mode */
html {
  --header-background-color: rgb(92, 54, 77);
  --header-text-color:#ffe4f5;
  --home-btn-background-color: rgb(32, 75, 32);
  --a-text-color: rgb(218, 243, 255);
  --a-border-color: rgb(4, 83, 4);
  --a-background-color: rgb(35, 83, 35);
  --title-text-color: rgb(6, 58, 6);
  --normal-text-color: rgb(0, 32, 0);
  --summary-text-color1: rgb(18, 49, 15);
  --summary-border-color: rgb(83, 4, 83);
  --summary-background-color: rgb(185, 161, 185);
  --summary-text-color2: rgb(31, 88, 25);
  --btn-text-color: rgb(218, 243, 255);
  --btn-background-color: rgb(53, 131, 53);
  --btn-border-color: rgb(0, 34, 0);
  --table-text-color: rgb(255, 255, 255);
  --table-border-color1: rgb(18, 49, 15);
  --table-background-color: rgb(18, 49, 15);
  --table-date-background-color:rgb(168, 212, 168); 
  --table-date-text-color: rgb(10, 44, 14);
  --table-border-color2: rgb(4, 14, 2);
  --body-text-color: rgb(218, 243, 255);
  --footer-text-color: rgb(218, 243, 255);
  --footer-background-color: rgb(29, 70, 29);
  --footer-border-color: rgb(35, 83, 35);
  --input-text-color:black;
  --input-background-color: rgb(233, 253, 244);
  --message-background-color: rgb(233, 253, 237);
  --message-border-color:rgb(37, 37, 37);
  --message-text-color: rgb(92, 54, 77); 
  --locked-badge-background-color:rgb(151 147 143);  
  --locked-badge-text-color:rgb(48, 48, 48);
  --badge-unlocked-text-color: rgb(254, 255, 234);
  --badge-unlocked-background-color: rgb(211 162 56);
  --badge-chart-title-background-color: rgb(92, 54, 77);
}

/* Variables - Grey Dark Mode */
@media (prefers-color-scheme: dark-grey) {
  html {
  --header-background-color: rgb(87, 87, 88);
  --header-text-color:rgb(233, 232, 232);
  --home-btn-background-color: rgb(63, 63, 63);
  --a-text-color: rgb(218, 243, 255);
  --a-border-color: rgb(37, 37, 37);
  --a-background-color: rgb(87, 87, 88);
  --title-text-color: rgb(216, 216, 216);
  --normal-text-color: rgb(255, 255, 255);
  --summary-text-color1: rgb(255, 255, 255);
  --summary-border-color: rgb(37, 37, 37);
  --summary-background-color: rgb(109, 109, 109);
  --summary-text-color2: rgb(255, 255, 255);
  --btn-text-color: rgb(243, 243, 243);
  --btn-background-color: rgb(121, 121, 121);
  --btn-border-color: rgb(37, 37, 37);
  --table-text-color: rgb(228, 227, 227);
  --table-border-color1: rgb(44, 43, 43);
  --table-background-color: rgb(63, 63, 63);
  --table-date-background-color:rgb(141, 141, 141); 
  --table-date-text-color: rgb(255, 252, 252);
  --table-border-color2: rgb(44, 43, 43);
  --body-text-color: rgb(255, 255, 255);
  --footer-text-color: rgb(255, 255, 255);
  --footer-background-color: rgb(87, 87, 88);
  --footer-border-color: rgb(87, 87, 88);
  --input-text-color:black;
  --input-background-color: rgb(233, 253, 244);
  --message-background-color: rgb(87, 87, 88);
  --message-border-color:rgb(255, 255, 255);
  --message-text-color: rgb(216, 216, 216);
  }
}
/* ------------------------------------------------------------------------------- */
/* ----------------------------- Applied Variables ------------------------------- */

/* Basic formatting */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

#screen {
    max-width: 1280px;
}

/* Header bar formatting */
#top-nav-bar {
    background-color: var(----header-background-color);
    width: 100%;
}

#top-nav-bar h1{
    position: absolute;
    color: var(--header-text-color);
    text-align: left;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 100px;
    font-size: 21px;
    top: 0;
}

#home-button{
    background-color: var(--home-btn-background-color);
}

/* Formatting for links in hamburger menu */
li {
  list-style-type: none;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--a-text-color);
    border-style: solid;
    border-color: var(--a-border-color);
    background-color: var(--a-background-color);
    padding: 5px;
    border-collapse: collapse;
    margin: 10px;
}

/* Irrelevant formatting? */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Page title formatting */
h2 { 
    color: var(--title-text-color);
    font-size: 45px;
}

/* General text formatting */
p {
    color: var(--locked-badge-text-color);
    padding-bottom: 5px;
}

/* Calorie Summaries boxes' formatting */
#summary_num {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--summary-text-color1);
    border: 2px solid;
    border-collapse: separate;
    border-color: var(--summary-border-color);
    background-color: var( --summary-background-color);
    color: rgb(18, 49, 15);
    padding: 5px;
    width: 100%;
    margin: 0 auto;
}

#summary_num th {
    font-size: 35px;
    font-weight: bold;
    color: var(--summary-text-color2);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

#summary_num thead th td {
    text-align: center;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px
}

#summary_num tr td {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--summary-text-color2);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/* Search results formatting */
#search-table {
    justify-self: center;
}

#search-table tr {
    font-size: 20px;
    margin: 0;
}

#match-options li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 5px;
    display: flex;
}

#match-options button {
  margin: 0;
  margin-left: 3px;
}

/* Formatting for Add/Next buttons */
#path-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border-style: solid;
    border-color: var(--btn-border-color);
    margin-top: 20px;
}

/* Confirmation page form formatting*/
#confirmation {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* General table formatting */
#table-list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    color: var(--table-text-color);
    border: 2px solid;
    border-color: var(--table-border-color1);
    border-collapse: collapse;
    background-color: var(--table-background-color);
    padding: 5px;
    width: 100%;
    margin: 10px;
    margin-top: 50px;
}

/* Formatting all dates for tables */
#table-title {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color:var(--table-date-background-color);
}

#table-title p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: var(--table-date-text-color);
    font-size: 24px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Formatting all data in tables */
#table-entries img{
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
}

#table-entries {
    font-size: 20px;
    border: solid 1px;
    border-color: var(--table-border-color2);
}

/* Table buttons formatting */
#table-title button {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: separate; 
}

#editButton{
    font-size: 16px;
}

#addButton{
    font-size: 16px;
}

#doneButton{
    font-size: 16px;
}

/* General formatting */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--body-text-color);
    margin: 0;
    padding: 5px;
}

footer { 
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    border: solid;
    border-color: var(--footer-border-color);
    padding: 5px;
    margin: 15px;
    margin-top: 75px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--btn-text-color);
    background-color: var(--btn-background-color);
    border-style: solid;
    border-color: var(--btn-border-color);
    margin-top: 20px;
}

/* Form Inputs formatting */
input, select, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

::placeholder {
    color: rgb(118, 170, 118);
}

/* Formatting message on Home Page */
#home-mess{
  margin-top: 50px;
  border: 2px solid;
  border-color:var(--message-border-color);
  background-color: var(--message-background-color);
  border-collapse: separate;
  background-color: rgb(233, 253, 237);
}

#home-mess p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: var(--message-text-color);
}


/* Style Settings */
#profile-settings-table {
  margin: auto;
}

#profile-settings-table tr td {
  padding: 20px;
}

#done-settings-btn{
  margin: 20px;
}

#feedback-form label{
  color: var(--summary-text-color2);
}

#feedback-form input, textarea, select{
  margin-bottom:40px;
}

#badges-table{
  margin-top: 35px;
  margin-bottom: 35px;
  color: var(--locked-badge-text-color);
  border: solid 1px;
  border-collapse: collapse;
  border-color: var(--badge-unlocked-text-color);
  background-color: var(--locked-badge-background-color);
}

#badges-table {
  color: var(--locked-badge-text-color);
}

#badges-table th{
  border: solid 1px;
  border-collapse: collapse;
  border-color: var(--badge-unlocked-text-color);
  background-color: var(--badge-chart-title-background-color);
  color: var(--badge-unlocked-text-color)
}

#badges-table td{
  margin-top: 35px;
  margin-bottom: 35px;
  border: solid 1px;
  border-collapse: collapse;
  border-color: var(--badge-unlocked-text-color);
}

#password-section form p h3 th td{
  color: black;
}

#password-section h3{
  color: black;
}

#feedback-section h3{
  color: black;
}

.feedback-table{
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: white;
  border: solid 2px;
  border-color: var(--summary-border-color);
  color: black;
}

.feedback-table th{
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
  background-color: white;
  border: solid 2px;
  border-color: var(--summary-border-color);
  padding: 8px;
}

.feedback-table td {
  padding: 20px;
  background-color: var(--summary-background-color);
  border: solid 2px;
  border-color: var(--summary-border-color);
  border-collapse: collapse;
}

.locked-img {
  opacity: 0.5
}

.completed-badge {
  border: solid 1px;
  border-color: var(--badge-unlocked-text-color);
  background-color: var(--badge-unlocked-background-color);
}

.completed-badge p {
  color: var(--badge-unlocked-text-color);
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #theLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

